<div class="container-fluid background-image">

<div class="row devise-form">

  <div class="col-12">
    <ul class="list-group ">
      <h3 class="header">Sign up</h3>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_pasword_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <!-- if clicked user changes to reader -->
    <%= f.radio_button :role, 'reader', :checked => false %>
    <%= f.label :role, 'Reader', :checked => false %><br />

    <!-- if clicked user changes to author -->
    <%= f.radio_button :role, 'author' %>
    <%= f.label :role, 'Author'%><br />
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
  </ul>
  </div>

<%= render "devise/shared/links" %>
