<li class = "article-info" id ="article-details-<%= article.id %>"data-id = "<%= article.id %>"></li>

<button class="js-read-more" id ="<%= article.id %>" data-id = "<%= article.id %>">Read More</button>

<div id="body-<%= article.id %>"></div>
