<ul class="list-group">
<%= bootstrap_form_for(@article, url: user_article_path) do |f| %>

  <%= hidden_field_tag "article[user_id]", "#{current_user.id}" %>

  <%= f.collection_select :category_id, Category.all, :id, :title %>

  <%= f.text_field :title %>

  <%= f.text_area :content %>

  <p>Choose from the list of Sources:</p>
  <div class="field">
    <%= f.collection_check_boxes :source_ids, Source.all, :id, :name%>
  </div>

  <p>Enter an Address:</p>
  <%= f.fields_for :address, @article.address do |address_fields| %>


      <%= address_fields.text_field :city %>


      <%= address_fields.label :country_id, "Choose a country where the events of your story is taking place "%>
      <%= address_fields.collection_select :country_id, Country.all, :id, :title %>

    <% end %>


  <p>Create a Source:</p>
  <%= f.fields_for :sources, @article.sources.build do |sources_fields| %>


      <%= sources_fields.text_field :name %>

    <% end %>

  <%= f.submit "Submit" %>

<% end %>
</ul>
