<div class = "index-container">
</div>

  <!-- Greeting  -->
  <% if !current_user.nil? %>
    <i><p>Welcome <%= current_user.name %></p></i>
  <% end %>

  <!-- Radio buttons option to change role-->
    <%= render 'roles' %>
<div id = "most_popular_article">
  <h3> All Articles </h3><br>
    <!-- Class method helper method -->
  <i> Most Credited Article: <b><%= most_popular_article %></i> </b><br>
    <br>
</div>

<!-- Define what user has access to based on user role -->
<% if current_user && current_user.author? %>
    You are an: Author
    <p> <%= link_to "Start writting your first article", new_article_path(current_user.id) %> </p>
<% else %>
    <b>You are a:</b> Reader
    <p> Choose from any category to read <p>
<% end %>

<% @articles.each_with_index do |article, i| %>
<% if !current_user.nil? && current_user.reader? %>
<!-- <% if current_user.reader? %> -->

<%= render partial: "credit_form", locals:{article: article} %>

<!-- <% end %> -->

<% end %>
    <div id = "articles-table">
      <%= render partial: "articles", locals: {article: article} %></li>
    </div>

    <% article.user %>


      <% article.credits.each do |credit| %>
      <% if credit.user %>
        <ul>
          <li>Creditor: <%= credit.user.name %></li>
        </ul>
      <%  end %>
      <% end %>

        <%= render partial: "authors", locals: {user: article.user} %>

  <br>
<% end %>
