<tbody>
<h3> All Articles </h3><br>


<% if !current_user.nil? %>
  <p>Welcome <%= current_user.name %></p>
<% end %>

<% if current_user && current_user.author? %>
  Role: Author
  <p> <%= link_to "Start writting your first article", new_article_path(current_user.id) %> </p>

<% else %>
  <b>Role:</b> Reader
  <p> Choose from any category to read <p>
<% end %>

<ol>
<% @articles.each do |article| %>
<%= pluralize(article.total_credits, "credits") %>

  <li><i><%= link_to article.title, user_article_path(article.id)%> -
    <% article.users.each do |user| %>
    <% if user.author? %>
      Author: <%= user.name %>
    <% end %>
  </li>
  <% end %>

<tr>
</tr>
    <tr>
    </tr>

<% end %>
</ol>

</tbody>
