<tbody>
<p><b> If you signed in with Facebook your current role defaults to "reader" but you can change that here</b></p>
<form action="/articles" method="post">
  <input name="authenticity_token" type="hidden"
      value="x37DrAAwyIIb7s+wssss2+AdoCR8cAJIpQhIetKRrPgG5VA=">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <input type="radio" name="user[role]" value="reader"> Reader<br>
  <input type="radio" name="user[role]" value="author"> Author<br>
  <input type="submit">
</form>

<h3> All Articles </h3><br>
<p> Most Credited Article: <i><b><%= Article.most_credited_article %></i></b> <p><br>


<% if !current_user.nil? %>
  <p>Welcome <%= current_user.name %></p>
<% end %>

<% if current_user && current_user.author? %>
  Role: Author
  <p> <%= link_to "Start writting your first article", new_article_path(current_user.id) %> </p>

<% else %>
  <b>Role:</b> Reader
  <p> Choose from any category to read <p>
<% end %>

<ol>
<% @articles.each do |article| %>
<%= pluralize(article.total_credits, "credits") %>

  <li><i><%= link_to article.title, user_article_path(article.id)%> -
    <% article.users.each do |user| %>
    <% if user.author? %>
      Author: <%= user.name %>
    <% end %>
  </li>
  <% end %>

<tr>
</tr>
    <tr>
    </tr>

<% end %>
</ol>

</tbody>
