<h1>NewsMap</h1>
<h3> All Articles </h3>
<p> Most Validated Article:<%= Article.most_validated_article %> <p>

<% if !current_user.nil? %>
  <p>Welcome <%= current_user.name %></p>
<% end %>

<% if current_user && current_user.author? %>
Role: Author

  <p> <%= link_to "Start writting your first article",
   new_article_path(current_user.id) %> </p>

<% else %>
Role: Reader
  <p> Choose from any category to read <p>
<% end %>

<ul>
<% @articles.each do |article| %>
  <% if article.user.author? %>
    <li><%= article.user.name %>
  <% end %>
  <li><%=  link_to article.title, user_article_path(article.id)%></li>
<% end %>
</ul>
