<h3> All Articles </h3>
<h4> Most Validated Article: <i><%= Article.most_validated_article %> </i></h4><br>

<% if !current_user.nil? %>
  <p>Welcome <%= current_user.name %></p>
<% end %>

<% if current_user && current_user.author? %>
Role: Author

  <p> <%= link_to "Start writting your first article",
   new_article_path(current_user.id) %> </p>

<% else %>
Role: Reader
  <p> Choose from any category to read <p>
<% end %>

<ul>
<% @articles.each do |article| %>
  <% if article.user.author? %>
    <p><b><%= article.user.name %></b></p>


    <%= render :partial => "articles/article", :locals => {:article => article} %>


  <% end %>
<% end %>
</ul>
