<h3>Make a New Article</h3>

<%= form_for @article do |f| %>
  <!--  Alternative -->
  <%= f.label :country, "Choose a country where the events of this article are taking place "%><br>
  <%= f.collection_select :country_title, Country.all, :id, :title %><br><br>

  <%= f.label :category, "Choose a category" %><br>
  <%= f.collection_select :category_title, Category.all, :id, :title %><br><br>

  <!-- <%= f.label :country, "Choose or type a country where the events of this article are taking place " %><br>
  <%= f.text_field :country, list: "countries_autocomplete" %> -->
<!--
    <datalist id="countries_autocomplete">
      <%= Country.all.each do |country| %>
          <option name ="country_title" value="<%= country.title %>">
      <% end %>
    </datalist><br><br> -->
  <!-- end of first field -->

  <!-- <%= f.label :category, "Choose or type a category" %><br>
  <%= f.text_field :category, list: "categories_autocomplete" %>

    <datalist id="categories_autocomplete">
      <%= Category.all.each do |category| %>
          <option name ="category_title" value="<%= category.title %>">
      <% end %>
    </datalist><br><br> -->
  <!-- end of second field -->

  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>

  <%= f.label :content %><br>
  <%= f.text_area :content %><br><br>

  <%= f.submit "Submit" %>
<% end %>
<!-- Prefix Verb     URI Pattern                             Controller#Action                                                                                              
                            root GET      /                                       static_pages#home
                new_user_session GET      /users/sign_in(.:format)                sessions#new
                    user_session POST     /users/sign_in(.:format)                sessions#create
            destroy_user_session DELETE   /users/sign_out(.:format)               sessions#destroy
        cancel_user_registration GET      /users/cancel(.:format)                 devise/registrations#cancel
               user_registration POST     /users(.:format)                        devise/registrations#create
           new_user_registration GET      /users/sign_up(.:format)                devise/registrations#new
          edit_user_registration GET      /users/edit(.:format)                   devise/registrations#edit
                                 PATCH    /users(.:format)                        devise/registrations#update
                                 PUT      /users(.:format)                        devise/registrations#update
                                 DELETE   /users(.:format)                        devise/registrations#destroy
user_facebook_omniauth_authorize GET|POST /users/auth/facebook(.:format)          omniauth_callbacks#passthru
 user_facebook_omniauth_callback GET|POST /users/auth/facebook/callback(.:format) omniauth_callbacks#facebook
                   user_articles GET      /users/:user_id/articles(.:format)      articles#index
                    user_article GET      /users/:user_id/articles/:id(.:format)  articles#show
                            user GET      /users/:id(.:format)                    users#show
                           users GET      /users(.:format)                        users#index
                                 POST     /users(.:format)                        users#create
                        new_user GET      /users/new(.:format)                    users#new
                       edit_user GET      /users/:id/edit(.:format)               users#edit
                                 PATCH    /users/:id(.:format)                    users#update
                                 PUT      /users/:id(.:format)                    users#update
                        articles POST     /articles(.:format)                     articles#create
                     new_article GET      /articles/new(.:format)                 articles#new
                    edit_article GET      /articles/:id/edit(.:format)            articles#edit
labs\newsmap-webapp\app\controllers\articles_controller.rb26:18
 Learn
LFUTF-8Ruby1 update -->
