<h3>Make a New Article</h3>

<%= form_for @article do |f| %>
  <!--  Alternative -->
  <%= f.hidden_field :user_id, :value=> "#{current_user.id}" %>
  <%= f.label :country, "Choose a country where the events of this article are taking place "%><br>
  <%= f.collection_select :country_title, Country.all, :id, :title %><br><br>

  <%= f.label :category, "Choose a category" %><br>
  <%= f.collection_select :category_title, Category.all, :id, :title %><br><br>

  <!-- <%= f.label :country, "Choose or type a country where the events of this article are taking place " %><br>
  <%= f.text_field :country, list: "countries_autocomplete" %> -->
<!--
    <datalist id="countries_autocomplete">
      <%= Country.all.each do |country| %>
          <option name ="country_title" value="<%= country.title %>">
      <% end %>
    </datalist><br><br> -->
  <!-- end of first field -->

  <!-- <%= f.label :category, "Choose or type a category" %><br>
  <%= f.text_field :category, list: "categories_autocomplete" %>

    <datalist id="categories_autocomplete">
      <%= Category.all.each do |category| %>
          <option name ="category_title" value="<%= category.title %>">
      <% end %>
    </datalist><br><br> -->
  <!-- end of second field -->

  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>

  <%= f.label :content %><br>
  <%= f.text_area :content %><br><br>

  <%= f.submit "Submit" %>
<% end %>
