<ul>
  <h3><%= @article.title%></h3>
  <li><p><%= @article.content%></p></li>
  <p><%=@article.total_validations %> votes
</ul>

<!-- of the current user is the owner of the article then they can delete it -->
<% if current_user == @article.user.author? %>
  <li><p><%= button_to "Delete", delete_article_url %></li>
<% end %>

<% if current_user.reader? %>
   <li><p><%= button_to "Validate", :method =>"create"%></li>
<% end %>
