<h3><%= @article.title%></h3>


<b>Sources:</b>
<ol>
<% @article.sources.each do |source|  %>
  <li> <%= source.name %> </li>
<% end %>
</ol>

<b>Country:</b>
<ul>
  <p><li><%= @article.country.title %></li></p>
</ul>

<b>Category:</b>
<ul>
  <p><li><%= @article.category.title %></li></p>
</ul>

  <p><%= @article.content%></p>

  <% @article.users.each do |user|%>
    <% if user.author? %>

      <p><b>Author: <%= user.name %></b></p>
    <% end %>

    <% if !current_user.nil? && current_user.id == user.id && current_user.author? %>
      <p><%= button_to "Delete", destroy_article_url %>
      <p><%= link_to "Edit", edit_article_url(@article) %>
    <% end %>
  <% end %>

<% if !current_user.nil? && current_user.reader? %>
  <%= render "credit_form" %>
<% end %>
