<h3>My Articles</h3>

  <% if current_user.reader? %>

      <%= current_user.name %>

      <p><%= pluralize(current_user.total_reader_credits,"credit made")%> </p>

      <h3>Articles Credited:</h3>
      <ol>
        <% current_user.credits.each do |credit| %>
          <li><%= link_to credit.article.title, user_article_path(current_user.id, credit.article.id) %></li>
        <% end %>
      </ol>

    </ol>

    <% else %>

    <%= current_user.name %>
    </ul>
    <% current_user.articles.each do |article| %>
      <li><%= link_to article.title, user_article_path(current_user.id, article.id) %></li>
        <%= article.total_credits %>
    <% end %>
    <ul>

  <% end %>
