<div class="container-fluid background-image">

<div class="row devise-form">
  <h3 class="header">Log in</h3>

  <div class="col-12">
    <ul class="list-group ">

    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </ul>
  </div>
  <li class="colored"><%= render "devise/shared/links" %></li>

</div>
</div>
