<nav class="has-bottom-border navbar navbar-inverse first  ">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">NewzMaps</a>
    </div>

    <ul class="nav navbar-nav">
      <% if current_user != nil && current_user.role != "reader" %>
      <button type="button" id="articlesLink" class="btn btn-outline-info transparent" data-id="<%= current_user.id %>">My Articles</button>
      <% else %>
        <li><%= link_to "Profile", user_path(current_user) if !current_user.nil? %></li>
      <% end %>
      <% if current_user %>
        <% if signed_in? && current_user.role != "reader" %>
              <li> <button type="button" class="btn btn-outline-info transparent"> <%= link_to "Write an article", new_article_path(current_user.id) %> </button></li>
        <% end %>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li><%= link_to "Sign in with Facebook if you want to read news articles", user_facebook_omniauth_authorize_path %> </li>
        <li><%= link_to "Sign in", user_session_path, method: 'new' %> </li>
        <li><%= link_to "Sign up", user_registration_path, method: 'create' %></li>
      <% end %>
    </ul>
    <!-- <div class="flex-container">
      <div class="flex-item">flex item 1</div>
      <div class="flex-item">flex item 2</div>
      <div class="flex-item">flex item 3</div>
      <div class="flex-item">flex item 3</div>
    </div> -->
</nav>

<nav class="has-no-bottom-border transparent  ">
    <ul class="list-inline">

    <% if current_user != nil && current_user.role != "author" %>
        <li class="pull-left">Reader: <%= current_user.name %></li>

      <% elsif current_user != nil && current_user.role != "reader" %>
        <li class="pull-left">Author: <%= current_user.name %></li>
        <li  class="list-item">Choose from any category to read </li>

      <% end %>

    <% if user_signed_in? %>
        <!-- Class method helper method -->
        <li class="pull-right">Most Credited Article: <%= most_popular_article %></li>
    <% end %>


    </ul>

</nav>
