<!DOCTYPE html>
<html>
  <head>
    <title>NewsmapWebapp</title>
    <%= csrf_meta_tags %>
    <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render 'layouts/navbar' %></li>
    <!-- <%= render 'layouts/log' %> -->
    <%= render 'layouts/messages' %>

    <%= yield %>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQprz73OSViq21gCLqYXi3NP8qRotA1UQ&callback=initMap">
    </script>
  </body>
</html>
